.slider-img {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    border-radius: 30%;
    height: auto;
    max-height: 300px;
    width:auto; 
    max-width:100%; 
}

.slider-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-img:hover {
    cursor: pointer;
    transform: scale(1.07);
    transition: 0.5s;
}

.slider-text {
    font-size: 26px;
    opacity: 0.9;
}

.slider-link {
    margin-top: 15px;
    text-decoration:none;
    border: transparent;
}

